<h1>{{ gateway_title }}</h1>
<hr>									  
{% for gateway in gateways %}	
    {% assign product_link = '' %}	
    {% assign docs_lnk = '' %}	
    {% assign logo_link = '' %}	
    {% assign screenshot_link = '' %}
    {% for link in gateway[1].links %}
        {% if link.title == "Product" %}	
            {% assign product_link = link.href %}
        {% endif %}		
        {% if link.title == "Documentation" %}	
            {% assign docs_lnk = link.href %}
        {% endif %}	
        {% if link.title == "Logo" %}	
            {% assign logo_link = link.href %}
        {% endif %}	
        {% if link.title == "Screenshot" %}	
            {% assign screenshot_link = link.href %}
        {% endif %}															
    {% endfor %}
    
    {% if gateway[1].properties.rating == show_rating %}							

        <a href="{{ product_link }}" target="_blank"><img src="{{ screenshot_link }}" width="400" align="right" style="padding: 15px;"></a>
        <h2>{{ gateway[1].properties.name }}</h2>
        <p>{{ gateway[1].properties.description | strip_html }}</p>
                      
        <p align="center">
        {% if product_link != '' %}	
            (<a href="{{ product_link }}" target="_blank">Product</a>)
        {% endif %}	
        {% if product_link != '' %}	
            (<a href="{{ docs_lnk }}" target="_blank">Docs</a>)
        {% endif %}			
        </p>															

        <hr>	
    {% endif %}	
{% endfor %}