---
layout: default
title: Capabilities
---

<div class="container" style="padding-top: 70px;">
	<div class="row align-top">
		<div class="col-10" style="padding-left: 35px;">

			<h1>Platform Capabilities</h1>
			{% assign gateways = site.data.gateways | sort %}					  
			{% assign capabilities = '' %}	
			{% for gateway in gateways %}								
				{% for capability in gateway[1].properties.platformCapabilities %}
					{% if capabilities contains capability %}						
					{% else %}	
						{% assign capabilities = capabilities | append: ',' | append: capability %}	
					{% endif %}	
				{% endfor %}
			{% endfor %}
			{% assign capabilities = capabilities | split: "," | sort %}
			<ul>
			{% for capability in capabilities %}
				{% if capability != '' %}
					<li>{{ capability }}</li>
				{% endif %}		
			{% endfor %}
			</ul>

			<h1>Gateway Capabilities</h1>
			<ul>
			{% assign gateways = site.data.gateways | sort %}					  
			{% assign capabilities = '' %}	
			{% for gateway in gateways %}			
				<!--<p><strong>{{ gateway[1].properties.name }}</strong></p>-->					
				{% for capability in gateway[1].properties.gatewayCapabilities %}
					{% if capabilities contains capability %}						
					{% else %}	
						{% assign capabilities = capabilities | append: ',' | append: capability %}	
					{% endif %}	
				{% endfor %}	
			{% endfor %}
			{% assign capabilities = capabilities | split: "," | sort %}
			{% for capability in capabilities %}
				{% if capability != '' %}
					<li>{{ capability }}</li>
				{% endif %}		
			{% endfor %}
			</ul>	
			<h1>Custom Code</h1>
			<ul>
			{% assign gateways = site.data.gateways | sort %}					  
			{% assign capabilities = '' %}	
			{% for gateway in gateways %}			
				<!--<p><strong>{{ gateway[1].properties.name }}</strong></p>-->					
				{% for capability in gateway[1].properties.customCodeSupport %}
					{% if capabilities contains capability %}						
					{% else %}	
						{% assign capabilities = capabilities | append: ',' | append: capability %}	
					{% endif %}	
				{% endfor %}
			{% endfor %}
			{% assign capabilities = capabilities | split: "," | sort %}
			{% for capability in capabilities %}
				{% if capability != '' %}
					<li>{{ capability }}</li>
				{% endif %}		
			{% endfor %}
			</ul>
			<h1>Upstream Protocols</h1>
			<ul>
			{% assign gateways = site.data.gateways | sort %}					  
			{% assign capabilities = '' %}	
			{% for gateway in gateways %}			
				<!--<p><strong>{{ gateway[1].properties.name }}</strong></p>-->					
				{% for capability in gateway[1].properties.upstreamProtocols %}
					{% if capabilities contains capability %}						
					{% else %}	
						{% assign capabilities = capabilities | append: ',' | append: capability %}	
					{% endif %}	
				{% endfor %}
			{% endfor %}
			{% assign capabilities = capabilities | split: "," | sort %}
			{% for capability in capabilities %}
				{% if capability != '' %}
					<li>{{ capability }}</li>
				{% endif %}		
			{% endfor %}
			</ul>
			<h1>Downstream Protocols</h1>
			<ul>
			{% assign gateways = site.data.gateways | sort %}					  
			{% assign capabilities = '' %}	
			{% for gateway in gateways %}			
				<!--<p><strong>{{ gateway[1].properties.name }}</strong></p>-->					
				{% for capability in gateway[1].properties.downstreamProtocols %}
					{% if capabilities contains capability %}						
					{% else %}	
						{% assign capabilities = capabilities | append: ',' | append: capability %}	
					{% endif %}	
				{% endfor %}
			{% endfor %}
			{% assign capabilities = capabilities | split: "," | sort %}
			{% for capability in capabilities %}
				{% if capability != '' %}
					<li>{{ capability }}</li>
				{% endif %}		
			{% endfor %}
			</ul>
			<h1>Delivery Models</h1>
			<ul>
			{% assign gateways = site.data.gateways | sort %}					  
			{% assign capabilities = '' %}	
			{% for gateway in gateways %}			
				<!--<p><strong>{{ gateway[1].properties.name }}</strong></p>-->				
				{% for capability in gateway[1].properties.deliveryModels %}
					{% if capabilities contains capability %}						
					{% else %}	
						{% assign capabilities = capabilities | append: ',' | append: capability %}	
					{% endif %}	
				{% endfor %}
			{% endfor %}
			{% assign capabilities = capabilities | split: "," | sort %}
			{% for capability in capabilities %}
				{% if capability != '' %}
					<li>{{ capability }}</li>
				{% endif %}		
			{% endfor %}
			</ul>			
		</div>
	</div>
	<div class="col-2"></div>	
</div>


